/*CARDS*/

.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0;

}

.card-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
}

.card{
    height: 300px;
    width: 400px;
    margin: 3rem 0;
    background-image: url('../images/new-york-g187da6175_1280.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: grayscale(.5);
    color: white;
    cursor: pointer;
    transition: .3s;
}

.card-text{
    width: 40%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
    color: rgb(109, 109, 109);

}

.card-wrapper{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-wrapper::before{
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    display: block;
    border: 1px solid white;
    opacity: 0;
    transition: 0.3s;
}

.card-wrapper h2{
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.3s;
}

.card-wrapper p{
    font-size: 0;
    visibility: hidden;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
}

.card:hover{
    filter: unset;
}

.card:hover > .card-wrapper::before{
    opacity: 1;
    width: 350px;
    height: 250px;
}

.card:hover > .card-wrapper p{
    font-size: 14px;
    opacity: 1;
    visibility: visible;
}
