@import './header.css';
@import './menu.css';
@import './cards.css';


body{
    padding: 0; margin: 0;
    color: white;
    font-family: sans-serif;
}


.footer {
    width: 100%;
    height: 100px;
    background-color: #085078;
    display: flex;
    justify-content: center;
    align-items: center;
}
























/*--------RESPONSIVO--------------------*/


@media (max-width: 800px) {
    .social-media {
        display: flex;
        flex-direction: column;
    }

    .container {
        margin-top: 0;
    }

    .card-container {
        flex-direction: column;
    }

    .container .card-container:nth-child(1),
    .container .card-container:nth-child(3) {
        flex-direction: column-reverse;
    }

    .card {
        height: 250px;
        width: 250px;
    }

    .card-text {
        width: 90%;
        margin-top: 2rem;
        text-align: center;
    }

    .card:hover > .card-wrapper::before {
        height: 190px;
        width: 190px;
    }
    
}

@media (max-width: 500px) {
    h1, h2 {
        text-align: center;
    }
}
